body{
    margin: 0%;
}
.nav{
    
    width:100%;
    height:80px;
    padding: 0px;
    margin: 0px;
    background: white; 
    display: flex;
    /*logo & menu sit on the line*/
    
    color:black;
    

}
.nav-1{
    width: 50%;
    background-color:white;
    height: 80px;
    display: flex;
    
    
}
.logo{
    width:100px;
    height: 80px;
    
} 
.menu ul{
    
    list-style-type: none;
    display: flex;
    margin-top: 27px;
    /*bw logo and menu*/
    font-size: 14px;
    
 
}
.menu,ul,li{
    padding-right: 10px;
    cursor: pointer;
    font-weight: bold;
      color:black;
      font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif ;
      
    
}
menu,ul,li:hover{
    color:#32462f;
    cursor: pointer;
}

.add-icon i{
    color: black;
   margin-left: 100px;
   /*increase the size of icon*/
   font-size: 20px; 
   padding-bottom: 25px;
   

   

}
.add-icon i:hover {
    color:#00754a;
cursor: pointer;

}

.nav2{
    width: 50%;
    height:80px;
    background-color:white;
   display:flex;
    justify-content:flex-end;
   align-items: center;
    gap:20px;
  
}
.text p{

    font-weight: bold;
      color:black;
      font-size: 13px;
      font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;   
}
.text :hover{
 color:#00754a;
cursor: pointer;   
    
}
.sign-button button{
    background-color:beige;
border-radius: 25px;
height: 30px;
width: 80px;
}

.sign-button :hover{
    background-color:#c2c2a3;  
}
.join-button button{
    background-color: black;
    color: aliceblue;
 border-radius:25px;
height: 30px;
width: 80px;

}

.join-button :hover{
    background-color:dimgrey ;
     
}



.main{
    background-color:#32462f;
    width:100%;
    height:100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-text{
    color: white;
    text-align: center;
    font-size: 20px;
     font-weight:bold;
    font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif ;

}


.start-button{
    position: absolute;
     
}

.start-button button{
   color: white; 
   border-radius: 35px;
   background-color: aliceblue;
   border-color: white;
   
    background-color:#32462f;
   height: 37px;
   width: 135px;
   font-size: 17px;
 margin-left: 400px;

   

}
.start-button :hover{
    background-color:#00754a;
}
.main-body{
    width: 100%;
    
     margin-top: 30px; 
}

.main-body-one{
    width: 100%;
    height: 420px;
    display: flex;
    margin-top: 30px;
}

.main-body-one-img{
    width: 50%;
    height: 420px;
}

.main-body-one-img img{
    width:770.4px;
    height: 420px;
}

.main-body-one-text{
    width: 50%;
    height: 420px;
   background-color: #9d0024;
  
}
.h2-text1{
    text-align: center;
    padding-top: 85px;
    color: white;
    font-size: 25px;
    font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif ;
     font-weight:bold;
      
}
.p-text1{
    color: white;
    padding-top: 25px;
    text-align: center;
    font-size: 19px;
     font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif ;
     line-height: 35px;
 font-weight:bold;
}
.main-button1 button{
    background-color: white;
    color: #00754a;
    border-radius: 40px;
    height: 30px;
    width: 100px;
    font-size:15px;
    font-weight: bold;
    margin-bottom: 70px ;
    margin-left: 330px;
    border: none;

}


/*third*/

.main-body2{
    width: 100%;
    height: 150%;
   
    margin-top: 30px;
}
.main-body-two{
    width: 100%;
    height: 100%;
    display: flex;
}

.main-body-two-img{
    width: 50%;
    height: 100%;
}

.main-body-two-img img{
height: 150%;
width: 100%;
}

.main-body-two-text{
    width: 50%;
    height: 635px;
   background-color: #9d0024;

}
.h2-text2{
    text-align: center;
    padding-top: 150px;
    color: white;
    font-size: 45px;
    font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif ;
     font-weight:bold;
     
      
}
.p-text2{
    color: white;
    
    text-align: center;
    font-size: 29px;
     font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif ;
     line-height: 35px;
     padding-top: 10px;
 
}
.main-button2{
    display: flex;
    justify-content: center;
    
     text-align: center; 

}
.main-button2 button{
    background-color: white;
    color: #00754a;
    border-radius: 40px;
    height: 30px;
     width: 200px; 
    font-size:15px;
    font-weight: bold;
     padding-top: 5px;  
    
     border: none;
} 



.main-body3{
    width: 100%;
   
     margin-top: 30px; 
}

.main-body-three{
    width: 100%;
    height: 420px;
    display: flex;
    margin-top: 30px;
}

.main-body-three-img{
    width: 50%;
    height: 420px;
}

.main-body-three-img img{
    width:100%;
    height: 150%;
}

.main-body-three-text{
    width: 50%;
    height: 630px;
   background-color:#006241;

  
}
.h2-text3{
    text-align: center;
    padding-top: 85px;
    color: white;
    font-size: 43px;
    font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif ;
     font-weight:bold;
     letter-spacing: 6px;
      
}
.p-text3{
    color: white;
    padding-top: 25px;
    text-align: center;
    font-size: 29px;
     font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif ;
     line-height: 35px;
 
}
.main-button3 button{
    background-color: white;
    color: #00754a;
    border-radius: 40px;
    height: 30px;
    width: 150px;
    font-size:15px;
     font-weight: bold; 
    margin-bottom: 70px ;
    margin-left: 330px;
    border: none;
}

main-body4{
    width: 100%;
    height: 100%;
   
    margin-top: 30px;
}
.main-body-four{
    width: 100%;
    height: 100%;
    display: flex;
    
}

.main-body-four-img{
    width: 50%;
    height: 100%;
}

.main-body-four-img img{
   
height: 150%;
width: 100%;
  margin-top:245px ;
}

.main-body-four-text{
    width: 50%;
    height: 635px;
   background-color: #9d0024;
     margin-top:245px ; 
  
}
.h2-text4{
    text-align: center;
    padding-top: 130px;
    color: white;
    font-size: 45px;
    font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif ;
     font-weight:bold;
     
      
}
.p-text4{
    color: white;
   
    text-align: center;
    font-size: 25px;
     font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif ;
     line-height: 35px;
     padding-top: 7px;
 
}
.main-button4{
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}
.main-button4 button{

    color: white;
    border-radius: 40px;
    height: 30px;
     width: 120px; 
    font-size:18px;
    font-weight: bold;
     padding-top: 5px;  
    
     border-color: white;
     background-color: #9d0024;
} 


.main-body5{
    width: 100%;
   
     margin-top: 30px; 
}

.main-body-five{
    width: 100%;
    height: 420px;
    display: flex;
    margin-top: 30px;
}

.main-body-five-img{
    width: 50%;
    height: 420px;
}

.main-body-five-img img{
    width:770.4px;
    height: 420px;
}

.main-body-five-text{
    width: 50%;
    height: 420px;
   background-color:#f1f0e4;
  
   
}
.h2-text5{
    text-align: center;
    color: black;
    font-size: 25px;
    font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif ;
     font-weight:bold;
   

      
}
.p-text5{
    color:black;
    text-align: center;
    font-size: 19px;
     font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif ;
     line-height: 35px;

}
.main-button5 button{
    background-color:black;
    color:white;
    border-radius: 40px;
    height: 30px;
    width: 100px;
    font-size:15px;
    font-weight: bold;
    margin-bottom: 70px ;
    margin-left: 330px;
    border: none;

}
.p-text6{
    margin-top: 60px;
    font-size: 15px;
    text-align: center;
    line-height: 1.8;
    font-family:SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
 ;
}
.hr{
    border: 0;
    height: 2px;
    background-color: black;
    margin: 20px 0;
}

.footer1 ul li{
    margin-top: 10px;
    margin-left: 5px;
    list-style: none;
    line-height:50px ;
    font-size: 13px;
    
    color: #5f6368;

      font-family:  SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;  
font-weight: 400px;
}
.h-text1{
    font-size: 15px;
     
    margin-left: 45px;
    color: black;
     font-family:  SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;  
font-weight: 400px;
}


.footer-container{
    display: flex;
}


.footer2 ul li{
    margin-top: 10px;
    list-style: none;
    line-height:50px ;
    font-size: 13px;
    color: #5f6368;

      font-family:  SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;  
font-weight: 400px;
}
.h-text2{
    font-size: 15px;
   
     
     margin-left: 45px; 
    color: black;
     font-family:  SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;  
font-weight: 400px;
}

/* div3 */
.footer3 ul li{
    margin-top: 10px;
  
    list-style: none;
    line-height:50px ;
    font-size: 13px;
    
    color: #5f6368;

      font-family:  SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;  
font-weight: 400px;
}
.h-text3{
    font-size: 15px;
    
     margin-left: 45px; 
    color: black;
     font-family:  SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;  
font-weight: 400px;
}


.footer4 ul li{
    margin-top: 10px;
   
    list-style: none;
    line-height:50px ;
    font-size: 13px;
   
    color: #5f6368;

      font-family:  SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;  
font-weight: 400px;
}
.h-text4{
    font-size: 15px;
   
     
     margin-left: 45px;
    color: black;
     font-family:  SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;  
font-weight: 400px;
}

/* div5 */

.footer5 ul li{
    margin-top: 10px;
    list-style: none;
    line-height:50px ;
    font-size: 13px;
    color: #5f6368;

      font-family:  SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;  
font-weight: 400px;
}
.h-text5{
    font-size: 15px;
    margin-left: 45px;
    color: black;
     font-family:  SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;  
font-weight: 400px;
}
i{
    margin-top: 25px;
    font-size: 35px;
    color: black;
    margin-left: 20px;
    
}
.second-footer2 ul li{
     list-style: none;
    line-height:50px ;
    font-size: 13px;
    
}
.foot-p{
    color:#a8a7a3;
    margin-left: 35px;

}
.all-content{
    margin-left: 30px;
    margin-right: 30px;

}
.nav{
    border-bottom: 1px solid gray;
}


















